{# <div id="commentaire">
    
    {% for commentaires in com %}

    <div class="badge badge-pill badge-light mt-2 mb-2 text-left">
        <small class="font-weight-bold" style="font-size: 1em;">message</small><br>
        <small class="small  text-small" style="font-size: 1em;">
        </small>
    </div><br> 
    {% endfor %}
    
</div> #}