{% extends 'base.html.twig' %}

{% block title %}Modification d'image{% endblock %}

{% block body %}
   <div class="container">
        <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="alert alert-secondary">
                <div class="alert-heading ">
                    <h2 class="text-muted text-uppercase">Modification d'image </h2>
                    {{ include('pin/_form.html.twig', {'button_label': 'Modifier'}) }}
                    
                    <a href="{{ path('app_home') }}">back to list</a>
                    {{ include('pin/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
   </div>
{% endblock %}
