
@import '~@fortawesome/fontawesome-free/css/fontawesome';
@import '~@fortawesome/fontawesome-free/css/brands';
@import '~@fortawesome/fontawesome-free/css/regular';
@import '~@fortawesome/fontawesome-free/css/solid';

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.entete-top{
  margin: 0;
  padding: 0;
}
.img-fluid{
  margin-bottom: 0;
}
.entete-center{
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 40px;
  margin: 0 0 10px 0;
  padding: 0;
  
}
.navbar{
  width: 100%;
  padding: 5px;
  position: relative;
}
.navbar-brand{
  color: #ffffff !important;
  font-weight: bold;
}
.nav-link{
  margin: 0px;
  color: #ffffff !important;
  transition: 0.3s ease-in all;
  padding: 0 30px;
  font-size:  15px;

}
.fa-bars{
  color: #ffffff !important;
}
.navbar-nav .profil{
  text-decoration: none !important;
  color: #000000 !important;
  transition: 0.5s  ease-in-out;
}
.navbar-nav .profil:hover{
  text-decoration: none !important;
 
  color: #747272 !important;
}
.nav-link:hover{
  color: #413f3f !important;
  
}
.grid {
  line-height: 30px;
  column-count: 3;
}
.grid .image_pin{
  width: 100% !important;
  height: auto !important;
  padding: 7px 0;
  transition: transform 0.3s ease-out;
  
}
div.block-img{
  overflow: hidden;
}
.grid .image_pin:hover{
  transform: scale(1.05);
}
div.pin-card-contenu span{
  opacity: 0;
  height: 40px;
  margin-top: -85px;
  padding: 5px 20px;
  color: #ffffff;
  font-weight: 200;
}
span.left {
  width: 70%;
}

span.right {
  width: 30%;
}
span > a{
  text-decoration: none !important;
  color: #ffffff !important;
  font-size: 1.3em !important;
}
@media screen and (max-width: 992px){
    
  body{
      background-color: blue !important;
  }
  .grid{
      line-height: 20px;
      column-count: 2;
  }
}

@media screen and (max-width: 764px){
    
  body{
      background-color: green !important;
  }
  .grid{
      line-height: 20px;
      column-count: 2;
  }
  div.pin-card-contenu span {
    opacity: 1 !important;
    padding: 5px !important;
  }
  span.right i {
    margin-top: 5px !important;
  }
  span > a {
    text-decoration: none !important;
    color: #ffffff !important;
    font-size: 1em !important;
  }
  
}
@media screen and (max-width: 576px){
  div.pin-card-contenu span{
    opacity: 1 !important;
  }
  .grid{
      line-height: 10px;
      column-count: 1;
  }
}