<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bee Sagnse !{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% block stylesheets %}
			<link rel="shortcut icon" href="#" />
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{# Entete de la page #}
		{% block header %}{% endblock header %}
		{# bloc de navigatio #}
		{% include "partials/nav/nav.html.twig" %}
		{% block body %}{% endblock %}
		<!-- Bootstrap core JS-->
		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
	</body>
</html>
