<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bee Sagnse !{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% block stylesheets %}
			<link rel="shortcut icon" href="#" />
			{{ encore_entry_link_tags('app') }}
			<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
		{% endblock %}
	</head>
	<body>
		{# Entete de la page #}
		{% block header %}{% endblock header %}
		{# bloc de navigatio #}
		{% include "partials/nav/nav.html.twig" %}
		{% block body %}{% endblock %}
		<!-- Bootstrap core JS-->
		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
	</body>
</html>
